*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.build
.project
.strong-pm
coverage
node_modules
**/node_modules
downloads/vouchers
npm-debug.log
.admin.build
yarn.lock
.vscode
TODO
docker-compose.yml

# Test coverage
.nyc_output
.nycrc

