<html>

<head>
    <% for (let i=0; i<font_family_name_link.length; i++) { %>
        <link href='https://fonts.googleapis.com/css?family=<%= font_family_name_link[i] %>' rel='stylesheet' type='text/css'>
        <% } %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      * {
        font-family: <%= font_family_name_name %> !important;
      }
  </style>
</head>

<body>
  <div style="
  margin: 0 auto;
  max-width: 600px;
  padding: 0 20px;
  font-family: <%= font_family_name_name %>;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #363436;
">
    <div>
      <div style="height: 70px;display: table;width: 100%;border-bottom: solid 2px rgba(54, 52, 54, 0.1);font-size: 14px;">
        <div style="height: 30px;display: table-cell;vertical-align: middle;">
          <img src="https://theasia.imgix.net/logo/theasia.png">
        </div>
      </div>
      <div class="content" style="margin-top: 30px;font-size: 14px;">
        <%- include('../partial/footer.ejs') %>
      </div>
    </div>
  </div>
</body>

</html>
